<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	 <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
	<div id="home">
		
		<section class="margin-nav">
		<!-- NAV BAR SETTING -->
			<nav class="black navbar navbar-default">
			 <div>
			   <!-- Brand and toggle get grouped for better mobile display -->
			   <div class="navbar-header">
			     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			       <span class="sr-only">Toggle navigation</span>
			       <span class="icon-bar"></span>
			       <span class="icon-bar"></span>
			       <span class="icon-bar"></span>
			     </button>
			     <a class="navbar-brand" href="http://brainstation.io/">
			     	<img alt="BrainStation" src="brain.gif" class="img-responsive"/>
			     </a>
			   </div>

			   <!-- Collect the nav links, forms, and other content for toggling -->
			   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				   <ul class="nav navbar-nav">
				       <li class="active"><a href="pandit.html">Pandit Adhilaga-Dres <span class="sr-only">(current)</span></a></li>
				       </li>
				   </ul>
			   
			     <ul class="nav navbar-nav navbar-right" class="active">
			       	<li class="active">
			       	<a class="home" href="/#/home">Home<span id="home" class="sr-only">(current)</span></a>
			       	</li>

			       	<li class="active">
			       	<a class="home" href="/#/movieList">Movie List<span id="home" class="sr-only">(current)</span></a>
			       	</li>  		
			     </ul>
			     
			   </div><!-- /.navbar-collapse -->
			 </div><!-- /.container-fluid -->
			</nav>
		</section>		

		<div class="title">
			<h1 class="weight black font60">{{ctrl.title}}</h1>
			
			<button type="button" id="explore" class="centered btn btn-primary button-design text page-scroll">
				<a href="/#/movieList">To Movie List</a>
			</button>
		</div>

	</div>
</body>
</html>